<br><br><br><br>
  <div class="container">   
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">我發起的團購</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">我加入的團購</a></li>
                <li><a href="#faq-cat-3" data-toggle="tab">被邀請的團購</a></li>
            </ul>
    
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">

                <!--我發起的團購-->
                <div class="tab-pane active in fade" id="faq-cat-1">  
                   <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @products = @current_member.products%>
                        <% @products.each do |product| %>
                        <tr>
                            <td><img src="<%=product.pic%>" height="50" width="48"></td>
                            <td><%=link_to product.name, :controller => 'products', :action => 'show' ,:id => product%></td>
                            <td></td>
                            <td></td>
                            <td>
                              <%if(product.status==1)%>
                                <button type="button" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                                </button>
                              <%else%>
                                <button type="button" class="btn btn-labeled btn-danger">
                                 <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                               </button>
                              <%end%>
                            </td>
                          </tr>
                        <%end%>
                      </tbody>
                </table>
                </div>
               <!--我發起的團購(結束)-->


               <!--我加入的團購-->
                <div class="tab-pane fade" id="faq-cat-2"> 
                 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @current_member.bought_products.each do |product| %>
                        <tr>
                            <td><img src="<%=product.pic%>" height="50" width="48"></td>
                            <td><%=link_to product.name, :controller => 'products', :action => 'show' ,:id => product%></td>
                            <td></td>
                            <td></td>
                            <td>
                              <%if(product.status==1)%>
                                <button type="button" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                                </button>
                              <%else%>
                                <button type="button" class="btn btn-labeled btn-danger">
                                 <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                               </button>
                              <%end%>
                            </td>
                          </tr>
                        <%end%>
                    </tbody>
                </table><!--/表格--> 
              </div>
              <!--我加入的團購(結束)-->

                   <!--被邀請的團購-->
                    <div class="tab-pane fade" id="faq-cat-3">
                         <table class="table table-list-search">

                    <thead>
                        <tr>
                            <th>相片</th>
                            <th>產品</th>
                            <th></th>
                            <th></th>
                            <th>開始/結束</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @current_member.invited_products.each do |product| %>
                        <tr>
                            <td><img src="<%=product.pic%>" height="50" width="48"></td>
                            <td><%=link_to product.name, :controller => 'products', :action => 'show' ,:id => product%></td>
                            <td></td>
                            <td></td>
                            <td>
                              <%if(product.status==1)%>
                                <button type="button" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>進行中
                                </button>
                              <%else%>
                                <button type="button" class="btn btn-labeled btn-danger">
                                 <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>已結束
                               </button>
                              <%end%>
                            </td>
                          </tr>
                        <%end%>
                      </tbody>
                </table>
                    </div>
                   
                   <!--被邀請的團購(結束)-->

                </div>
            </div>
          </div>
        </div>
    </div><!--/頁籤-->