<br><br><br><br>


<!--商品圖和介紹文
==============================================-->
<div class="container">
<div class="row">
    <div class="col-sm-2 col-md-2">
        <img src="<%= @product.pic %>"
        alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-4 col-md-4">
        <blockquote>
            <p><%= @product.name %></p>
        </blockquote>
           <p> <i class="glyphicon glyphicon-calendar"></i> <%= @product.start_at %> , <%= @product.end_at %>><br/> 
               <i class="glyphicon glyphicon-usd"></i> <%= @product.price %> 元/個<br /> 
               <i class="glyphicon glyphicon-user"></i> 30人<br>
               <i class="glyphicon glyphicon-heart-empty">
                <%= @product.description %>
               </i>
            </p>
    </div>  
</div>

<table class="table table-list-search">
                <thead>
                    <tr>
                        <th>跟團者清單</th>
                        <th>稱呼</th>
                        <th>信箱</th>
                        <th>已確認/待確認</th>
                        <th></th>
                        <th>已付款</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/img/蛇足.jpg" height="50" width="48"></td>
                        <td>蛇足</td>
                        <td>dasoku@yahoo.com.tw</td>
                        <td><button type="button" class="btn btn-success btn-md btn3d"><span class="glyphicon glyphicon-ok"></span> 已確認</button></td>
                        <td></td>
                        <td><button type="button" class="btn btn-default btn-md btn3d">已付款</button></td>

                    </tr>
                    <tr>
                        <td><img src="/img/咪醬.jpg" height="50" width="48"></td>
                        <td>みーちゃん</td>
                        <td>micyan@gmai.com.tw</td>
                        <td><button type="button" class="btn btn-warning btn-md btn3d"><span class="glyphicon glyphicon-warning-sign"></span> 待確認</button></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td><img src="/img/PKT.jpg" height="50" width="48"></td>
                        <td>ぽこた</td>
                        <td>pokota@yahoo.com.tw</td>
                        <td><button type="button" class="btn btn-success btn-md btn3d"><span class="glyphicon glyphicon-ok"></span> 已確認</button></td>
                        <td></td>
                        <td><button type="button" class="btn btn-default btn-md btn3d">已付款</button></td>
                    </tr>

                    <!--邀請按鈕
                    ===========================================-->
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button class="btn btn btn-success" type="submit"><a href="invitingFriends.html" target="_blank" style="text-decoration:none;color:white;">邀請好友</a></button></td>
                    </tr>
                    <!--/邀請按鈕-->
                </tbody>
            </table>   
        <!--/表格--> 

</div>