<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags%>
    <title>校園團購系統</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">

    <%= javascript_include_tag "application" %>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/dropdown.js"></script>
  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%=link_to '校園團購系統', '/products', :class=>"navbar-brand"%>
            </div>
            <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
              <%if @current_member %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                 <!-- username -->
                <li>
                     <a href="#"><%=@current_member.name %></a>
                </li>
                <li>
                    <%=link_to ' (logout) ', member_session_path(@current_member.id), method: :delete%>
                 </li>

                <!-- display new GroupBuy -->
                <li>
                    <a href="<%=products_path%>/new"><i class="glyphicon glyphicon-plus"></i></a></li>
                <!-- display user info -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-align-justify"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                       <!-- dropdown menu links -->
                      <li>
                        <%=link_to '<i class="glyphicon glyphicon-user"></i>會員資訊'.html_safe, :controller => 'users', :action => 'show' ,:id => @current_member.id%>
                      </li>
                      <li><a href="invitingFriends.html"><i class="glyphicon glyphicon-envelope"></i>好友邀請</a></li>
                  </li>
              </ul>
            <%end%>
            </div>
          </div>
        </div>

      </div>
    </div>
  	<%=yield%>
  </body>
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</html>
 